{% extends 'accounts/base.html' %}
{% block title %}Details{% endblock %}

{% block body %}
    <div class="container">

        <h1 class="text-center">{{ post.title }}</h1><br>
        {% if post.photo %}
            <embed src="{{ post.photo.url }}" width="600" height="600">
        {% endif %}
        <h3>{{ post.dept }} | {{ post.year }}</h3>
        <h3>{{ post.content }}</h3><br>

        <hr>

        {% if comments %}
            <ul>
                {% for comment in comments %}
                    <li>
                        {{ comment.user.username}} | {{ comment.user.userprofile.dept }}, {{ comment.user.userprofile.year }} <small>{{ comment.timestamp|timesince }} ago</small><br>
                        {{ comment.body }}
                        {% if request.user == comment.user or user.is_superuser %}
                            <a href="{% url 'home:delete-comment' post.id comment.id %}" class="btn btn-sm btn-danger">Delete comment</a>
                        {% endif %}
                        <hr>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        

        <a href="{% url 'home:add-comment' post.id %}" class="btn btn-sm btn-default">Add comment</a><br><br><br>


        {% if request.user == post.user or user.is_superuser %}
            <a href="{% url 'home:post-edit' post.id %}" class="btn btn-md btn-primary">Edit Post</a>
            <a href="{% url 'home:post-delete' post.id %}" class="btn btn-sm btn-danger">Delete post</a>
        {% endif %}

    </div>

{% endblock %}