<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</head>
<body>

    <nav class="nav navbar-inverse">
        <div class="container-fluid">
            <div class="container">

                <!-- Brand Logo -->
                <div class="nav navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home:index' %}">Forum</a>
                </div>

                <!-- All the other items -->
                <div class="collapse navbar-collapse" id="topNavBar">

                    <!-- Search -->
                    <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'home:search' %}">
                        <div class="form-group">
                            <input class="form-control" name="q" value="{{ request.GET.q }}" type="text" placeholder="Search" aria-label="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Search</button>
                    </form>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="{% block homestatus %}{% endblock %}">
                            <a href="{% url 'home:index' %}">Home</a>
                        </li>
                        <li class="{% block profilestatus %}{% endblock %}">
                            <a href="{% url 'accounts:profile' user.id %}">Profile</a>
                        </li>
                        <li>
                            <a href="{% url 'accounts:logout' %}">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                            </a>
                        </li>
                    </ul>

                </div> 
            </div>

        </div>
    </nav>



{% block body %}
{% endblock %}

</body>
</html>