{% extends 'accounts/base.html' %}

{% block title %}Profile{% endblock %}

{% block profilestatus %}active{% endblock %}


{% block body %}

{% if user == request.user %}Logged in as : {% endif %}{{ user.username }}

{% if user.userprofile.profile_picture %}
	<img src="{{ user.userprofile.profile_picture.url }}" width="200" height="200">
{% endif %}
<hr>
Name : {{ user.first_name }} {{ user.last_name }}<br>
Role : {{ user.userprofile.role }}<br>
Stream : {{ user.userprofile.dept }}<br>
Roll : {{ user.userprofile.roll }}<br>
{% if user.userprofile.year %}
	Year : {{ user.userprofile.year }}
{% endif %}
<hr>
{% if user == request.user %}
	<a href="{% url 'accounts:edit-info' %}">Edit info</a>
{% endif %}

{% endblock %}