{% extends 'accounts/base.html' %}

{% block title %}Profile{% endblock %}

{% block profilestatus %}active{% endblock %}


{% block body %}

{% if user == request.user %}Logged in as : {% endif %}{{ user.username }}

{% if user.userprofile.profile_picture %}
	<img src="{{ user.userprofile.profile_picture.url }}" width="200" height="200">
{% endif %}
<hr>
{{ user.userprofile.website }}
<hr>
{{ user.userprofile.bio }}
<hr>
{% if user == request.user %}
	<a href="{% url 'accounts:edit-info' %}">Edit info</a>
{% endif %}

{% endblock %}